*{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color:black; 
    text-align: center;
    background-color: aquamarine;
}
img{
    height: auto;
    width: 200px;
    border:solid blue 5px;
    height: auto;
    width: 150px;
}

h2,h3{
    
    text-align: center;
}

.ingred{
   margin: 20px;
   display: inline;
}

.desc{
    display: inline;
    background-color:burlywood;
    vertical-align:top;
    box-sizing: border-box;
}